In [1]:
import numpy as np
import pandas as pd

# Multi-Index and Index Hierarchy

In [7]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
# hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [10]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.287819 -0.642698
   2  0.135945  0.721056
   3 -0.065449  1.785303
G2 1  0.743435  0.541434
   2 -0.204321  0.755490
   3  0.634166 -0.727956

In [11]:
# Now we may use this upper level indexes to access a part of data frame
df.loc['G1']

          A         B
1  0.287819 -0.642698
2  0.135945  0.721056
3 -0.065449  1.785303

In [12]:
# We may name the indexes, like
df.index.names = ['Group', 'Num']

In [13]:
# Now Data Frame looks like
df

                  A         B
Group Num
G1    1    0.287819 -0.642698
      2    0.135945  0.721056
      3   -0.065449  1.785303
G2    1    0.743435  0.541434
      2   -0.204321  0.755490
      3    0.634166 -0.727956

In [14]:
# We may use cross section method(xs) to grab a particular 'Num' from both Groups
# Let say we want rows with 'Num = 1' from both groups, then we hae to use xs function like
df.xs(1, level='Num')

              A         B
Group
G1     0.287819 -0.642698
G2     0.743435  0.541434